<%# 공통 부분 %>
<%- include('../../layout/common.ejs') %>

<%# CSS & JS %>
<link href="/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
<link href="/css/select.dataTables.min.css" rel="stylesheet" />
<link href="/css/responsive.dataTables.min.css" rel="stylesheet" />
<link href="/css/fixedColumns.dataTables.min.css" rel="stylesheet" />
<link href="/css/fixedHeader.dataTables.min.css" rel="stylesheet" />
<link href="/css/scroller.dataTables.min.css" rel="stylesheet" />
<link href="/stylesheets/datatable.css" rel="stylesheet" />

<%# JS %>
<script src="/js/dataTables.min.js"></script>
<script src="/js/dataTables.bootstrap5.min.js"></script>
<script src="/js/dataTables.select.js"></script>
<script src="/js/select.dataTables.js"></script>
<script src="/js/dataTables.responsive.js"></script>
<script src="/js/responsive.dataTables.js"></script>
<script src="/js/dataTables.fixedColumns.js"></script>
<script src="/js/fixedColumns.dataTables.js"></script>
<script src="/js/dataTables.fixedHeader.js"></script>
<script src="/js/fixedHeader.dataTables.js"></script>
<script src="/js/dataTables.scroller.min.js"></script>
<script src="/js/scroller.dataTables.min.js"></script>
<script src="/javascripts/datatableOption.js"></script>

<%# 본문 %>
<%- contentFor('body') %>

<%# DataTable CheckBox Visible %>
<input type="hidden" id="chkVisible" value=<%= authCode %>>

<%# 메뉴명 & 버튼 %>
<div class="d-flex">
  <div class="ps-1">
    <h2>공지사항</h2>
  </div>
  <div class="d-flex ms-auto">
    <% if(authCode == 'S' || authCode == 'A') { %>    
    <div>
      <button type="button" class="btn btn-primary" onclick="createItem()">등록</button>      
    </div>
    <div class="ms-1">
      <button type="button" class="btn btn-danger" onclick="deleteItemList(event)">삭제</button>
    </div>
    <% } %>
  </div>
</div>

<%# 그리드 %>
<table id="tblMain" class="table table-striped">
</table>

<script>
  var table = {};

  $(document).ready( function () {
    //DataTable.js
    table = DataTableJS('tblMain', '/common/notice/getNoticeList');

    //CheckBox Visible
    if($("#chkVisible").val() != 'N'){
      table.column('CHK:name').visible(true);
    }

    //Click Event
    $('#tblMain tbody').on('click', 'tr td:not(.dt-select):not(.dtr-control)', function(e) {
      const rowData = table.row(this).data();
      var param = 'boardGuid=' + rowData.BOARD_MST_GUID;
      location.href = '/common/notice/view?' + param;
    });    
  });    

  const columns = [
    {title: '', data : null, name: 'DTL', defaultContent: '', width: "0px", visible: false },
    {title: '', data : null, name: 'CHK', width: "50px", visible: false },    
    {title: 'No.', data : "NO", name: "NO", width: "50px" },
    {title: '제목', data : "TTL", name: "TTL", width: "600px" },
    {title: '등록자', data : "REG_EMAIL", name: "REG_EMAIL", width: "200px"},
    {title: '등록일시', data : "REG_DT", name: "REG_DT", width: "200px" },
  ];

  const columnDefs = [
    { targets: "_all", className: "header" },
    { targets: 0, orderable: false, searchable: false, className: 'control', render: false, },
    { targets: 1, orderable: false, render: DataTable.render.select() },    
    { targets: 'NO:name', className: "row-right-align" },    
    { targets: 'TTL:name', className: "row-left-align" },    
    { targets: ['REG_EMAIL:name','REG_DT:name'] , className: "row-center-align" },
  ];

  function DataTableJS(tblId, url){
    var table = new DataTable('#' + tblId, {
      columns: columns,
      columnDefs: columnDefs, 
      language : getLanguage(),
      paging: true,
      lengthChange: true,
      searching: false,
      ordering: true,
      info: true,      
      select: {
        style: 'multi',
        selector: 'td.dt-select',
        items: 'row',
      },      
      scrollX: true,
      scrollY: 'calc(100vh - 222px)',
      scroller: true,      
      // responsive: true,
      fixedColumns: {
        start: 3
      },
      order: [[2, 'asc']],    
      ajax: {
          url: url,
          dataSrc: 'value' ,
          method: 'post',
      },
    });

    return table;
  };
  
  //신규 등록
  function createItem(){
    location.href = '/common/notice/edit';
  };

  //리스트 삭제
  function deleteItemList(e){
    const rows = table.rows('.selected').data();
    var boardGuidList = getValueList(rows, 'BOARD_MST_GUID');
    var data = {
      'boardGuidList': boardGuidList,
    };

    confirmModal(e, 'modalConfirm', '공지사항', '선택한 공지사항을 삭제 하시겠습니까?', function () {   
      $.ajax({
        url: '/common/notice/deleteNoticeList',
        method: 'POST',
        data: JSON.stringify(data),
        datatype: "JSON",
        contentType: 'application/json; charset=utf-8',
        beforeSend: function (xhr) {
          setLoadingBar(true);
          $("#modalConfirm").modal('hide');
          $("#modalAlert .modal-title").html("공지사항");
        },
        success: function (data, status, xhr) {
          // var message = data.message;
          // $("#modalAlert .modal-body").html(message);
          // $("#modalAlert").modal('show');
          location.href = '/common/notice/';
        },
        error: function (data, status, err) {
          $("#modalAlert .modal-body").html(err);
          $("#modalAlert").modal('show');
        },
        complete: function () {
          setLoadingBar(false);
        }
      });    
    });
  };

</script>