<%# 공통 부분 %>
<%- include('../../layout/common.ejs') %>

<%# CSS & JS %>
<link href="/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
<style>
  /* Table */
  table.dataTable tbody tr {
    cursor: pointer;
  }
  table.dataTable thead tr th input[type=checkbox],
  table.dataTable tbody tr td input[type=checkbox] {
    cursor: pointer;
  }    
  /* 정렬 */
  table.dataTable thead th.header:not(:first-child) {
    text-align: center;
  }
  table.dataTable tbody td.row-left-align {
    text-align: left;
  }
  table.dataTable tbody td.row-center-align {
    text-align: center;
  }
  table.dataTable tbody td.row-right-align {
    text-align: right;
  }

  /* Header&Row CSS수정 */
  table.dataTable thead th.header {
    background-color: #007BD5;
    color: #ffffff;
    font-weight: 400;
  }
  table.dataTable tbody td.row {
    text-align: center;
  }
</style>

<%# CSS & JS %>
<script src="/js/dataTables.min.js"></script>
<script src="/js/dataTables.bootstrap5.min.js"></script>
<script src="/js/dataTables.select.js"></script>
<script src="/js/select.dataTables.js"></script>
<script src="/javascripts/datatableOption.js"></script>

<%# 본문 %>
<%- contentFor('body') %>

<%# DataTable CheckBox Visible %>
<input type="hidden" id="chkVisible" value=<%= authCode %>>

<%# 메뉴명 & 버튼 %>
<div class="d-flex">
  <div class="ps-1">
    <h2>공지사항</h2>
  </div>
  <div class="d-flex ms-auto">
    <% if(authCode == 'S' || authCode == 'A') { %>    
    <div>
      <button type="button" class="btn btn-primary" onclick="createItem()">등록</button>      
    </div>
    <div class="ms-1">
      <button type="button" class="btn btn-danger" onclick="deleteItemList(event)">삭제</button>
    </div>
    <% } %>
  </div>
</div>

<%# 그리드 %>
<table id="tblMain" class="table table-striped">
  <thead>
      <tr>
        <th></th>
        <th>No.</th>
        <th>제목</th>
        <th>등록자</th>
        <th>등록일시</th>
      </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<script>
  var table = {};

  $(document).ready( function () {
    //DataTable.js
    table = DataTableJS('tblMain', '/common/notice/getNoticeList');

    //CheckBox Visible
    if($("#chkVisible").val() != 'N'){
      table.column(0).visible(true);
    }

    //Click Event
    $('#tblMain tbody').on('click', 'tr td:not(:first-child)', function(e) {
      const rowData = table.row(this).data();
      var param = 'boardGuid=' + rowData.BOARD_MST_GUID;
      location.href = '/common/notice/view?' + param;
    });    
  });    

  const columns = [
    {data : 'CHK', width: "50px"},
    {data : "NO", width: "50px" },
    {data : "TTL", width: "auto"},
    {data : "REG_EMAIL", width: "200px"},
    {data : "REG_DT", width: "200px" },
  ];

  const columnDefs = [
    { className: "header", targets: "_all" },
    { 
      orderable: false,
      render: DataTable.render.select(),
      targets: 0,
      visible: false,
    },    
    { className: "row-left-align", targets: [2, 3] },
    { className: "row-center-align", targets: [4] },
    { className: "row-right-align", targets: [1] },
  ];

  function DataTableJS(tblId, url){
    var table = new DataTable('#' + tblId, {
      columns: columns,
      language : getLanguage(),
      paging: true,
      lengthChange: true,
      searching: false,
      ordering: true,
      info: true,      
      columnDefs: columnDefs, 
      fixedColumns: {
        start: 2
      },
      order: [[1, 'asc']],    
      select: {
        style: 'multi',
        selector: 'td:first-child',
      },
      ajax: {
          url: url,
          dataSrc: 'value' ,
          method: 'post',
      },
    });

    return table;
  };
  
  //신규 등록
  function createItem(){
    location.href = '/common/notice/edit';
  };

  //리스트 삭제
  function deleteItemList(e){
    const rows = table.rows('.selected').data();
    var boardGuidList = getValueList(rows, 'BOARD_MST_GUID');
    var data = {
      'boardGuidList': boardGuidList,
    };

    confirmModal(e, 'modalConfirm', '공지사항', '선택한 공지사항을 삭제 하시겠습니까?', function () {   
      $.ajax({
        url: '/common/notice/deleteNoticeList',
        method: 'POST',
        data: JSON.stringify(data),
        datatype: "JSON",
        contentType: 'application/json; charset=utf-8',
        beforeSend: function (xhr) {
          setLoadingBar(true);
          $("#modalConfirm").modal('hide');
          $("#modalAlert .modal-title").html("공지사항");
        },
        success: function (data, status, xhr) {
          // var message = data.message;
          // $("#modalAlert .modal-body").html(message);
          // $("#modalAlert").modal('show');
          location.href = '/common/notice/';
        },
        error: function (data, status, err) {
          $("#modalAlert .modal-body").html(err);
          $("#modalAlert").modal('show');
        },
        complete: function () {
          setLoadingBar(false);
        }
      });    
    });
  };

</script>