<!-- 공통 부분 -->
<%- include('../../layout/common.ejs') %>

<!-- CSS & JS -->
<link href="/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
<style>
  table.dataTable thead th.header-center-align {
    text-align: center;
  }
  table.dataTable tbody td.row-left-align {
    text-align: left;
  }
  table.dataTable tbody td.row-center-align {
    text-align: center;
  }
  table.dataTable tbody td.row-right-align {
    text-align: right;
  }
</style>>

<!-- CSS & JS -->
<script src="/js/dataTables.min.js"></script>
<script src="/js/dataTables.bootstrap5.min.js"></script>

<!-- 본문 -->
<%- contentFor('body') %>
<table id="tblMain" class="table table-striped">
  <thead>
      <tr>
        <th>No.</th>
        <th>제목</th>
        <th>등록자</th>
        <th>등록일시</th>
        <th>수정자</th>
        <th>수정일시</th>
      </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<script>
  var columns = [
    {data : "NO", width: "50px" },
    {data : "TTL", width: "auto"},
    {data : "REG_EMAIL", width: "200px"},
    {data : "REG_DT", width: "200px" },
    {data : "UPDT_EMAIL", width: "200px"},
    {data : "UPDT_DT", width: "200px" },    
  ];
  //Korean
  var language = {
    "decimal": "",
    "emptyTable": "데이터가 없습니다.",
    // "info": "_START_ - _END_(총 _TOTAL_ 명)",
     "info": "(총 _TOTAL_ 개)",
    "infoEmpty": "0개",
    "infoFiltered":" (전체 _MAX_ 개 중 검색결과)",
    "infoPostFix": "",
    "thousands": ",",
    "lengthMenu": "_MENU_&nbsp;&nbsp;개씩 보기",
    "loadingRecords": "로딩중...",
    "processing": "처리중...",
    "search": "검색:",
    "zeroRecords": "검색된 데이터가 없습니다.",
    "paginate": {
      "first":" 첫 페이지",
      "last": "마지막 페이지",
      "next": "다음",
      "previous": "이전"
    },
    "aria":{
      "sortAscending": " : 오름차순 정렬",
      "sortDescending": " : 내림차순 정렬"
    }};

  $(document).ready( function () {
    $("#tblMain").DataTable({
      columns: columns,
      language : language,
      paging: true,
      lengthChange: true,
      searching: false,
      ordering: true,
      info: true,      
      columnDefs: [
        { className: "header-center-align", targets: "_all" },
        { className: "row-left-align", targets: [1, 2, 4] },
        { className: "row-center-align", targets: [3, 5] },
        { className: "row-right-align", targets: [0] },
      ], 
      order: [[1, 'NO']],     
      ajax: {
          url: '/common/notice/getNoticeList',
          dataSrc: 'value' ,
          method: 'post',
      },
    });
  } );  
</script>