<div class="modal fade" id="<%=id%>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="lblModalConfirm" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title"><%=title%></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <%=body%>
            </div>

            <!-- Modal footer -->
            <% if(isConfirm == 'Y'){ %>
                <div class="modal-footer">
                    <button type="button" id="btnConfirmY" class="btn btn-primary">확인</button>
                    <button type="button" id="btnConfirmN" class="btn btn-danger" data-bs-dismiss="modal">취소</button>
                </div>                       
            <% } else { %>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">닫기</button>
                </div>     
            <% } %>            
        </div>
    </div>
</div>