  /* Table */
  table.dataTable tbody tr {
    cursor: pointer;
  }
  table.dataTable thead tr th input[type=checkbox],
  table.dataTable tbody tr td input[type=checkbox] {
    cursor: pointer;
  }    
  /* 정렬 */
  table.dataTable thead th.header:not(:first-child) {
    text-align: center;
  }
  table.dataTable td,table.dataTable th {
    white-space: nowrap;
  }
  table.dataTable tbody td.row-left-align {
    text-align: left;
  }
  table.dataTable tbody td.row-center-align {
    text-align: center;
  }
  table.dataTable tbody td.row-right-align {
    text-align: right;
  }

  /* Header&Row CSS수정 */
  table.dataTable thead th.header {
    background-color: #007BD5;
    color: #ffffff;
    font-weight: 400;
  }
  table.dataTable tbody td.row {
    text-align: center;
  }

  /*tr 아래 td Color변경 */
  table.dataTable tbody tr.text-danger td  {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-danger-rgb), var(--bs-text-opacity)) !important;
    font-weight: 800;
  }

  /*tr 아래 td Background-Color변경 */
  table.dataTable tbody tr.bg-danger td  {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-danger-rgb), var(--bs-bg-opacity)) !important;
  }  

  /*ScrollBar=true인 경우, 배경화면 색상*/
  div.dts div.dt-scroll-body, div.dts div.dataTables_scrollBody {
    background: #e9ecef;
  }