@font-face {
    font-family: 'Paperlogy';
    src: url('/fonts/Paperlogy-5Medium.ttf') format('truetype');
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Paperlogy', 'Lucida Grande', Helvetica, Arial, sans-serif;
  font-size: 14px;
}

a {
    color: #00B7FF;
}